body {
    font-family: Arial, sans-serif;
    color: hsl(176, 92%, 72%);
    background-color: hsla(318, 59%, 83%, 0.6)
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header { 
    background-color: hsl(176, 92%, 72%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
header h1 { 
    margin: 0;
}
header h1 { 
    margin: 0;  
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
nav a { 
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
footer {
    background-color: hwb(169 72% 2%);
    color: #e1f6f3;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
p {
    font-size: 1.1em;
}   
a{
    color: hsl(69, 100%, 61%);
    text-decoration: none;
}   
a:hover {
    text-decoration: underline;
}img {
    border: 5px solid hwb(63 7% 0%);
    border-radius:10px; 
}
main a[href^="mailto:"]{
    color: ff5722;
    font-weight: bold;